/* @media (max-width: 375px) */

@media (max-width: 426px) {
    main {
        width: 100%;
    }

    main .flex {
        display: block;
        text-align: center;
    }

    main .flex .titulo {
        width: 100%;
        margin-bottom: 1.5em;
    }

    main .flex .titulo h1 {
        width: 100%;
    }

    main .flex .titulo p {
        width: 100%;
    }

    .flex .avaliacoes {
        width: 100%;
        gap: 10px;
    }

    .flex .avaliacoes .avaliacao {
        flex-direction: column;
        justify-content: center;
        gap: .5em;
        width: 100%;
    }

    .flex .avaliacoes .avaliacao p {
        margin-top: 0;
    }

    main .grid {
        grid-gap: 1em;
        grid-template-rows: 220px;
    }

    main .footer p {
        font-size: 13px
    }
}

@media (max-width: 768px) {
    main .flex .titulo {
    }
    
    main .flex .titulo h1 {
        width: 85%;
    }

    .flex .avaliacoes .avaliacao {
        padding: .6em 1.2em .6em 1em;
        width: 265px;
    }

    .flex .avaliacoes .avaliacao .estrelas {
        gap: 3px;
    }

    main .grid {
        grid-template-rows: 300px;
        grid-gap: .8em;
    }

    .grid .item {
        height: 240px;
    }

    .grid .item .topo {
        margin-bottom: 1.5em;
    }

    .grid .item .topo img {
        width: 25%;
    }
    
}