* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'League Spartan', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 1100px;
    padding: 2em;
    /* background-color: lightpink; */
}

main .flex {
    display: flex;
    width: 100%;
    /* background-color: lightcyan; */
    justify-content: space-between;
    margin-bottom: 3em;
}

.flex .titulo {
    width: 40%;
}

.flex .titulo h1 {
    width: 60%;
    margin-bottom: .9em;
    color: hsl(300, 43%, 22%);
    font-size: 2.2em;
    font-weight: 700;
}

.flex .titulo p {
    width: 90%;
    line-height: 19px;
    color: hsl(303, 10%, 53%);
}

.flex .avaliacoes {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    /* background-color: orange; */
}

.flex .avaliacoes .avaliacao {
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    gap: 1.5em;
    background-color: hsla(302, 10%, 53%, 0.161);
    padding: .9em 2.3em .9em 1.3em;
    border-radius: .5em;
}

.flex .avaliacoes .avaliacao .estrelas {
    display: flex;
    gap: 7px;
}

.flex .avaliacoes .avaliacao p {
    font-weight: bold;
    margin-top: 5px;
}

.flex .avaliacoes .um {
    align-self: flex-start;
}

.flex .avaliacoes .dois {
    align-self: center;
}

.flex .avaliacoes .avaliacao p {
    color: hsl(300, 43%, 22%);
}

main .grid {
    display: grid;
    grid-gap: 1.8em;
    /* grid-template-columns: repeat(auto-fit, 305px); */
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-template-rows: 280px;
    /* background-color: lightpink; */
    margin-bottom: 1.4em;
}

.grid .item {
    background-color: hsl(300, 43%, 22%);
    padding: 1.5em 1.8em 2em 1.6em;
    border-radius: .8em;
    color: #fff;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.grid .item-2 {
    align-self: center;
}

.grid .item-3 {
    align-self: flex-end;
}

.grid .item .topo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 2em;
}

.grid .item .topo .titulo-subtitulo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item .topo .titulo-subtitulo h4 {
    color: hsl(300, 24%, 96%);
}

.item .topo .titulo-subtitulo h4:last-child {
    color: hsl(333, 80%, 67%);
}

.grid .item .topo img {
    border-radius: 40px;
    width: 19%;
}

.grid .item p {
    line-height: 19px;
}

main .footer p {
    text-align: end;
    color: hsl(228, 45%, 44%);
    font-size: 14px;
}

.footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 700;
    padding: 5px 3px;
}

.footer a:hover {
    text-decoration: underline;
    background-color: rgb(169, 192, 235);
    padding: 5px 3px;
}

